<article id="<%= dom_id task %>"class="py-6 prose dark:prose-invert">
  <p class="mb-0 font-semibold">
    <strong>Título:</strong>
    <%= task.title %>
  </p>

  <p class="mb-0 font-semibold">
    <strong>Url:</strong>
    <%= task.url %>
  </p>

  <p class="mb-0 font-semibold">
    <strong>Status:</strong>
    <%= task.status %>
  </p>

  <p class="mb-0 font-semibold">
    <strong>Descrição:</strong>
    <%= task.description %>
  </p>

  <p>
    <%= link_to "Visualizar Tarefa", task, class: "underline" %>
  </p>
</article>
